body {
  background-image: url('./recursos-fantasmoricos/fondo.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    height: 100vh; 
    margin: 0
}
#pato {
    position: absolute; 
    width: 80px;        
    pointer-events: none; 
    transform: translate(-50%, -50%); 
}